.header {
    grid-area: h;
    background-color: #506CF0;
    font-family: Snell Roundhand, cursive;
}

.header img {
    width: 20px;
}

.loginBlock {
    float: right;
}

.loginBlock a {
    color: white;
}

.logout {
    float: right;
    border: none;
    border-radius: 45px;
    background-color: darkgray;
    font-family: Snell Roundhand, cursive;
}